{% extends "_global/index.html" %}

{% block main %}
Gde ste kategorije
{% for category in categories %}

        <a href="{{ BASE }}category/{{ category.category_id }}">
            <h1>{{ category.name|escape }}</h1>
        </a>
    {% endfor %}

{% endblock %}
