{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-12 my-4 naslov">
              <h1>Opcije dostupne prijavljenim korisnicima</h1>
        </div>
    </div>  
        <div class="row dashboard text-center mb-5">
            <div class="col mx-1 box dugme border border-success">
                <a href="{{ BASE }}user/profile/" 
                class="btn btn-primary text-center">
                <i class="fas fa-user fa-lg"></i><br>   
                Vaš profil
                </a>
            </div>
            <div class="col mx-1 dugme border border-success">
                    <a href="{{ BASE }}user/ads/add"
                     class="btn btn-primary">
                     <i class="fas fa-plus fa-lg"></i><br>    
                     Dodavanje oglasa
                    </a>
            </div>
            <div class="col mx-1 box dugme border border-success">
                <a href="{{ BASE }}user/myads/" 
                class="btn btn-primary text-center">
                <i class="fas fa-paw fa-lg"></i><br> 
                Vaši oglasi
                </a>
            </div>
            
        </div>
    
</div>
{% endblock %}
{% block welcome %}
<div class="dobrodosli">
    <p >Dobrodošli {{item.forename}}!<i class="far fa-smile" style="color: #20c997"></i></p> 
</div>
{% endblock %}
{% block naslov %}
Dashboard
{% endblock %}
