{% extends "_global/index.html" %}

{% block main %}
<!-- Start Break-sec Section -->
<div id="break-sec" class="offset">
        <div class="col-12 narrow text-center">
            <h1>O nama</h1>
        </div>
    </div>
<!-- End Break-sec section -->
<div class="container">
        <div class="row">
          <div class="col-md-12">
            <p><b>UdomiMe.rs</b> je web aplikacija za udomljavanje napustenih pasa, macaka i prasadi na teritoriji Srbije. Sajt ujedno pruza informacije o sterilizaciji, udomljavanju i prednostima udomljavanja napustenih zivotinja.</p>
            <p><b>UdomiMe.rs</b> promovise udomljavanje napustenih zivotinja bez novcane dobiti.</p>
            <p><b>UdomiMe.rs</b> je sajt koji je zapocela grupa ljudi sa ciljem resavanja problema napustenih pasa i macaka na teritoriji Srbije. Osim udomljavanja cilj sajta je i edukacija javnosti na teme sterilizacije i odgovornog vlasnistva.</p>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Misija</h4>
            <p>1. Povecavanje svesti I ucesca gradjana Srbije u udomljavanju napustenih zivotinja</p>
            <p>2. Podsticanje sterilizacije pasa i macaka</p>
            <p>3. Edukacija javnosti o uzrocima i prevenciji problema napustenih pasa i macaka</p>
            <p>4. Podizanje statusa napustenih zivotinja i promovisanje usvajanja umesto kupovine ljubimaca</p>
            <br>
            <h3>Pridruzite nam se. Registracija je besplatna.</h3>
            <a class="btn btn-secondary btn-md " href="{{ BASE }}/user/register" target="_blank">Registruj se</a>
      
      
          </div>
          
        </div>
      </div>
    

    

<p>{{ message|escape }}</p>
{% endblock %}

{% block naslov %}
Dashboard
{% endblock %}