{% extends "_global/index.html" %}

{% block main %}
    
    <div id="break-sec" class="offset">
            <div class="col-12 narrow text-center">
                <h1>Prijavi se</h1>
            </div>
        </div>
    <form action="{{ BASE }}user/login" method="post">
            <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label for="inputUsername">Korinsicko ime</label>
                <input type="text" class="form-control" id="inputUsername"
                required name="username" placeholder="Unesite korisnicko ime">
            </div>
            </div>
        
            <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <label for="inputLozinka" class="">Lozinka</label>
            <div class="reg-password">
                <input type="password" class="form-control" id="inputLozinka" 
                required name="password" placeholder="Unesite lozinku">
            </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block col-md-6 offset-md-3">Prijavi se</button>
        
        <div class="col-12 narrow text-center">
                <a href="{{ BASE }}user/register">Nemam nalog / Registruj se <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            
    </form>    

{% endblock %}

{% block naslov %}
Logovanje
{% endblock %}