{% extends "_global/index.html" %}

{% block main %}
    <!-- Start Break-sec Section -->
    <div id="break-sec" class="offset">
            <div class="col-12 narrow text-center">
                <h1>Registruj se</h1>
            </div>
        </div>
    <!-- End Break-sec section -->
    
    
    
    <!-- Start Registracija -->
    
    <form class="formica" method="post">
       

      <div class="form-row">
        <div class="form-group col-md-4 ">
          <label for="inputName">Ime</label>
          <input type="text" class="form-control" required
            name="reg_forename" id="inputName" placeholder="Vase ime">
        </div>
        <div class="form-group col-md-4">
          <label for="inputName">Prezime</label>
          <input type="text" class="form-control" required
          name="reg_surname" id="inputName" placeholder="Vase prezime">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-8 ">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" required
             name="reg_username" id="inputUsername" placeholder="Vas username">
        </div>
     </div>
    
      <div class="form-row">
        <div class="form-group col-md-4 ">
          <label for="inputPassword" class="">Lozinka</label>
        <div class="reg-password">
          <input type="password" class="form-control" required
          name="reg_password_1" id="inputPassword" placeholder="Unesite lozinku">
        </div>
       </div>
    
       <div class="form-group col-md-4">
          <label for="inputPassword" class="">Ponovite lozinku</label>
        <div class="reg-password">
          <input type="password" class="form-control" required
          name="reg_password_2" id="inputPassword" placeholder="Ponovite lozinku">
        </div>
       </div>
        
      </div>
    
      
      
      <div class="form-row">
        <div class="form-group col-md-6 ">
          <label for="inputCity">Mesto</label>
        <input type="text" class="form-control" required
         name="reg_city" id="inputCity" placeholder="Unesite mesto">
        </div>
    
        <div class="form-group col-md-2">
          <label for="inputPhone">Telefon</label>
        <input type="text" class="form-control"  required
        name="reg_phone" id="inputPhone" placeholder="Unesite telefon">
        </div>

    </div>
    <div class="form-row">
      <button type="submit" class="btn btn-primary col-md-8" >Registruj se</button>
    </div>
    
    </form>

    <div class="col-12 narrow text-center">
            <a href="{{ BASE }}user/login">Imam nalog / Prijavi se <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
{% endblock %}

{% block naslov %}
Registracija
{% endblock %}