{% extends "_global/index.html" %}

{% block main %}
    {% if message1 is empty %}
    <div class="container">
            <div class="card text-white bg-dark my-5" >
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ BASE }}assets/img/warning.png" class="card-img p-5" alt="upozorenje">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body mt-5">
                        <h3 class="card-title">Greška</h3>
                        <h4 class="card-text">{{ message|escape }}</h4>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
    {% else %}
    <div class="container">
            <div class="card text-white bg-dark my-5" >
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ BASE }}assets/img/checked.png" class="card-img p-5" alt="upozorenje">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body mt-5">
                        <h3 class="card-title">Uspesno je registrovan nalog!</h3>
                        <h4 class="card-text">{{ message1|escape }}</h4>
                        <a href="{{ BASE }}user/login/"><button class="btn btn-primary">
                                Prijavi se</button></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    {% endif %}

   
{% endblock %}

{% block naslov %}
Registracija
{% endblock %}