{% extends "_global/index.html" %}

{% block main %}
<div class="container">
    <div class="card text-white bg-dark my-5" >
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ BASE }}assets/img/warning.png" class="card-img p-5" alt="upozorenje">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-5">
                <h3 class="card-title">Greška</h3>
                <h4 class="card-text">{{ message|escape }}</h4>
                <a href="{{ BASE }}/user/login"><button class="btn btn-primary">Vrati se nazad</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block naslov %}
Login
{% endblock %}