.dugme {
    padding: calc(23vh - 50px) 0;
    position: relative;
}
.dugme a {
    padding-top: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
  
/* Scale up the box */
.dugme:hover {
    transform: scale(1.01, 1.01);
}

.naslov h1{
      font-size: 20px;
}
#prijava1 a {
      color: #fff;
}

.dobrodosli p {
    color: #fff!important;
    margin-bottom: 0;
    text-transform: capitalize;
}
#kreiraj {
    margin-top: 1vh;
}


/*Page dodaj_ljubimca*/
#break-sec{
    margin-bottom: 10px;
  }
  .heading-animal{
    margin-bottom: 20px;
  }
  form{
    background-color: #fcfcfc;
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-primary{
    background-color: #1ebba3;
    border-color: #1ebba3;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
  }
  .btn-primary:hover{
    background-color: #189582;
    border-color: #189582;
  }
  
  
  /*Ceo oglas.html*/
  
  .kontakt{
    background-color: #1ebba3;
    color: #fff;
  }
  .oglas{
    background-color: #f9f9f9;
  }
  
  /*profi*/
  .profil img{
    width: 100%;
    border-radius: 50%;
  }



  /*Pojedinacni oglasi*/
  
.kontakt p {
  margin:0;
}



  #slika-oglas{
    height: 35vh!important;
  }
  #prikaz {
    margin-right: 0;
  }

  .dugme-oglas{
    background-color: #1ebba3;
    
  }
  .dugme-oglas:hover{
    background-color: #1ebcc3;
  }
  .border-dark1{
    border: 1.5px solid #1ebcc3;
  }


  /* oglasi za macke */


  #boja-kartice {
    background-color: #006c5a!important;
  }

  #boja-kartice .card-footer button {
    background-color: #d79800;
  }

  .podaci .pl-5 {
    text-transform: capitalize;
  }


 