@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
/*.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}*/

/*---Navigation ---*/
.container-fluid {
  margin: 0;
  padding: 0;
}
.formica {
  display: block;
  margin-left: 25vw;
}
.vecimam {
  margin: 5vh 0 0 18vw;
}
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  background-color: #000;
}
.navbar-brand img{
  height: 60px;
}

.navbar-nav li{
  padding-right: 14px;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: 16px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}
/*Lending page*/

.home-inner{
  background-image: url('assets/img/hero.jpg');

}
.caption{
  text-align: center;
  font-size: 1.4vw; 
  font-weight: 500;
  padding: calc(23vh - 50px) 0;
  z-index: 1;
}
.caption h1{
  font-size: 60px;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*Start Break-sec Section Style*/

#break-sec{
  background-color: #1ebba3;
}
.narrow{
  width: 100%;
  margin: 5px auto;
}
.narrow h1{
  color: #ffffff;
  font-size: 30px;
  padding: 4vh;
  text-align: center;
}
.btn-secondary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 16px;
  margin: 16px;
  background-color: #ffffff;
  border-color: #1ebba3;
  color: #1ebba3;
}
.btn-secondary:hover{
  background-color: #189582;
  border-color: #189582;
}

/*Start Features Section*/

.jumbotron{
  margin-bottom: 0;
  padding: 32px 0 40px;
  border-radius: 0;
}

h3.heading{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.heading-underline{
  width: 48px;
  height: 3px;
  background-color: #1ebba3;
  margin: 0 auto 32px;
}

.icon-arrow svg.svg-inline--fa{
  color: #1ebba3;
  float: right;

}
.feature h3{
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 6px;
}
.feature p{
  font-size: 18px;
}

.feature1{
  border: 3px solid #ffffff;
  padding-bottom: 22px;
  background-color: #ffffff;
}

/*Start o-nama Section*/

.fixed{
  background-image: url('{{ {{ BASE }}assets/img/(hero.jpg) }}');
  z-index: -1; 
}
.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 80px 30px;
}

.p-onama{
  font-size: 16px;
}

.feature svg.svg-inline--fa{
  width: 35px;
  height: 35px;
}

.fixed-background h3{
  margin-bottom: 32px;
}
.fixed-background p{
  margin-top: 24px;
}
.lead{
  font-size: 16px;
}

/*Start Clients*/


blockquote .svg-inline--fa{
  color: #1ebba3;
  margin: 16px;
}

.clients-hr{
  border-top: 1px solid #1ebba3;
}
.clients-text{
  font-size: 30px;
}

/*Start Contact Section*/

footer{
  background-color: #40474e;
  color: white;
  padding: 32px 0 32px;
  margin-top: 16px;

}
footer img{
  height: 60px;
  margin: 24px 0;
}

footer a{
  color: white;
}
footer svg.svg-inline--fa{
  font-size: 40px;
  margin: 20px 8px 0 0;
}
#contact i:hover{
  color: #1ebba3!important;
}
hr.socket{
  width: 100%;
  border-top: 4px solid #666b71;
  margin-top: 40px;
}

/*Media Queries*/
@media (max-width: 767px){
  .caption h1{
  font-size: 32px;
  letter-spacing: .3rem;
  padding-bottom: 12px;
}
.caption h3{
  font-size: 16px;
  padding-bottom: 18px;
}
.btn-lg{
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}
.narrow h1{
  font-size: 26px;
}
.clients img{
  max-width: 50%;
  display: block;
  margin: 0 auto;
  
}
.formica {
  display: block;
  margin-left: 5vw;
}
}



/*Page dodaj_ljubimca*/
#break-sec{
  margin-bottom: 50px;
  margin-top: -1vh;
}
.heading-animal{
  margin-bottom: 20px;
}
form{
  background-color: #fcfcfc;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary{
  background-color: #1ebba3;
  border-color: #1ebba3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
}
.btn-primary:hover{
  background-color: #189582;
  border-color: #189582;
}


/* Login strana */
.margin-top {
  margin-top: 8.5vh;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/