<!DOCTYPE html>
<html>
    <head>
        <title> {% block naslov %}Aukcije{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{{ BASE }}assets/img/logo.png">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css?ts=<?=time()?>">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css?ts=<?=time()?>">
	    
    </head>
    
    <body data-spy="scroll" data-target="#navbarResponsive">
        
        <!-- Start home Section -->
            <div class="container-fluid" >
        
        <!-- Navigation menu -->		
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ BASE }}"><img src="{{ BASE }}assets/img/logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
        
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        {% block welcome %} {% endblock %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}">Početna</a>
                        </li>
        
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Udomi</a>  
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
                            <a class="dropdown-item" href="{{ BASE }}ads/dogs/">Psa</a>  
                            <a class="dropdown-item" href="{{ BASE }}ads/cats/">Mačku</a>  
                            <a class="dropdown-item" href="{{ BASE }}ads/other/">Ostale životinje</a>  
                          </div>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}about">O nama</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="{{ BASE }}user/dashboard">Moj profil</a>
                            </li>
                        <li class="nav-item">
                                    <a class="nav-link" href="{{ BASE }}user/logout">Odjava</a>
                            </li>
                        <a id="kreiraj" href="{{ BASE }}user/login"><button type="button" class="btn btn-info" id="prijava1">Prijavi se / Kreiraj nalog</button></a>
                    </ul>
                </div>
            </nav>	
            <!-- End of navigation section -->
            
            







            <div>
                {% block main %}
                
                {% endblock %}
            </div>
            
        
            
        
        
        
        <!-- Start Contact Section -->
            <div id="contact" class="offset">
                
                <footer>
                    <div class="row justify-content-center">
                        <div class="col-md-5 text-center">
                            <img href="{{ BASE }}" src="{{ BASE }}assets/img/logo.png">
                            <p>UdomiMe.com je besplatan web portal gde možete besplatno postaviti i udomiti ljubimce.</p>
                            <br>
                            <strong>Kontakt informacije</strong>
                            <p>+381 60066006 <br>udomi@udomime.rs</p>
                            <a href="{{ BASE }}" target="_blank"><i class="fab fa-facebook-square fa-2x mx-3"></i></a>
                            <a href="{{ BASE }}" target="_blank"><i class="fab fa-instagram fa-2x mx-3"></i></a>
                            <a href="{{ BASE }}" target="_blank"><i class="fa fa-home fa-2x mx-3"></i></a>
                        </div>
        
                        <hr class="socket">
                        &copy; Studenti Univeziteta Singidunum
                    </div>
                </footer>
        
            </div>
           </div>     

        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        
    </body>
</html>